* {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1.5vw;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

#menuBar {
    width: 90vw;
    padding-bottom: 5px;
    margin: 20px auto;
}

.menuButton {
    position: relative;
    height: 7vh;
    width: 17.6vw;
    background-color: #7F00FF;
    border-radius: 10px;
    border: 3px solid black;
}

#coloursContainer {
    width: 90vw;
    margin: 5px auto;
}

#colourBoxHolder {
    width: 45%;
    float: left;
}

#colourAmountHolder {
    width: 10%;
    text-align: center;
    float: left;
}

#colourUpgradesHolder {
    width: 45%;
    height: 1000px;
    float: right;
}


#colourBox0 {
    box-sizing: border-box;
    background-color: white;
    width: 78%;
    height: 6vh;
    margin-bottom:5px;
    border: 3px solid black;
    border-radius: 20px;
}

.colourBox {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 6vh;
    margin: 5px 0 5px 0;
    border: 3px solid black;
    border-radius: 20px;
}

.colourBoxFill {
    height: 100%;
    width: 0;
    border-radius: 17px;
}

.colour0, .colourUpg0 .upgradeButton {
    background-color: #7F00FF;
}

.colour1, .colourUpg1 .upgradeButton {
    background-color: #0000FF;
}

.colour2, .colourUpg2 .upgradeButton {
    background-color: #007FFF;
}

.colour3, .colourUpg3 .upgradeButton {
    background-color: #00FFFF;
}

.colour4, .colourUpg4 .upgradeButton {
    background-color: #00FF7F;
}

.colour5, .colourUpg5 .upgradeButton {
    background-color: #00FF00;
}

.colour6, .colourUpg6 .upgradeButton {
    background-color: #7FFF00;
}

.colour7, .colourUpg7 .upgradeButton {
    background-color: #FFFF00;
}

.colour8, .colourUpg8 .upgradeButton {
    background-color: #FF7F00;
}

.colour9, .colourUpg9 .upgradeButton {
    background-color: #FF0000;
}

.colour10, .colourUpg10 .upgradeButton {
    background-color: #FF007F;
}

.colour11, .colourUpg11 .upgradeButton {
    background-color: #FF00FF;
}

#textColour0 {
    color: #7F00FF;
}

#textColour1 {
    color: #0000FF;
}

#textColour2 {
    color: #007FFF;
}

#textColour3 {
    color: #00FFFF;
}

#textColour4 {
    color: #00FF7F;
}

#textColour5 {
    color: #00FF00;
}

#textColour6 {
    color: #7FFF00;
}

#textColour7 {
    color: #FFFF00;
}

#textColour8 {
    color: #FF7F00;
}

#textColour9 {
    color: #FF0000;
}

#textColour10 {
    color: #FF007F;
}

#textColour11 {
    color: #FF00FF;
}

#fillButton {
    box-sizing: border-box;
    width: 20%;
    height: 6vh;
    background-color: #7F00FF;
    color: black;
    border-radius: 20px;
    border: 3px solid black;
    float: right;
}

#colourAmountHolder p {
    box-sizing: border-box;
    height: 6vh;
    line-height: 6vh;
    margin: 0 0 5px 0;
}

.upgradeBox {
    margin: 5px 0;
}

#upgradeBox0 {
    margin-top 0;
}

.upgradeButton {
    box-sizing: border-box;
    width: 32%;
    height: 6vh;
    color: black;
    border-radius: 20px;
    border: 3px solid black;
}
